@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: hsl(10, 10%, 0%);
	--background: hsl(10, 10%, 10%);
	--light: hsl(10, 10%, 20%);
	--hover: hsl(10, 10%, 30%);
	--active: hsl(10, 10%, 40%);
	--text: hsl(10, 10%, 90%);
	--navbar-height: 4rem;

	/*BUBBLE TEXTBOX DIMENSIONS*/
	--width: 700px;
	--height: max-content;
	--border-radius: 15px;
	--padding: 10px;

	--red: #f94144;
	--orange: #f3722c;
	--yellow: #f8961e;
	--light-yellow: #f9c74f;
	--green: #90be6d;
	--blue: #43aa8b;
	--light-blue: #93bffc;
	--very-light-blue: #cbdffc;
}
