$size: 250px;

.x {
	position: absolute;
	transition: 1s;
	animation: x 13s linear infinite alternate;
}

.y {
	position: absolute;
	animation: y 7s linear infinite alternate;
}

:is(.x, .y):hover {
	z-index: 1;
}

.blob {
	animation: shift 8s linear infinite alternate;
	border-radius: 30% 70% 70% 30% / 30% 47% 53% 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $size;
	transition: 1s;
	font-size: 1.5rem;
}

/*BLOB ANIMATION*/
@keyframes shift {
	from,
	to {
		border-radius: 30% 70% 70% 30% / 30% 47% 53% 70%;
		transform: scale(1, 1);
	}
	25% {
		border-radius: 45% 55% 57% 43% / 61% 39% 61% 39%;
		transform: scale(0.75, 1);
	}
	50% {
		border-radius: 52% 48% 42% 58% / 64% 55% 45% 36%;
		transform: scale(0.7, 0.7);
	}
	75% {
		border-radius: 50% 50% 23% 77% / 64% 52% 48% 36%;
		transform: scale(0.85, 0.85);
	}
}

/*TURN TO POST WHEN HOVER*/
:is(.x, .y):has(.blob:hover) {
	animation-play-state: paused;
}

.blob:hover {
	background-color: transparent;
}

/*#MOVE BLOB*/
@keyframes x {
	from {
		opacity: 1;
	}

	to {
		opacity: 1;
		transform: translateX(calc(100vw - #{$size}));
	}
}

@keyframes y {
	from {
	}

	to {
		transform: translateY(calc(100vh - #{$size} - var(--navbar-height)));
	}
}

/*POST STYLE*/
.blob:hover .postContainer {
	scale: 1;
}

.blob:hover {
	border-radius: 0;
	animation-play-state: paused;
	transform: scale(1) !important;
}

.postContainer {
	transition: 400ms;
	scale: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.poster {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	width: 100%;
}

.icon {
	aspect-ratio: 1;
	width: 3rem;
	border-radius: 50%;
}
/*#endregion*/

/*#region MIDDLE*/
.textbox {
	width: 100%;
	padding: 1rem;
	text-align: center;
}
/*#endregion*/
