.nav {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	background: var(--background);
	box-shadow: 2px 2px 4px var(--dark);
	gap: 0.5rem;
	height: var(--navbar-height);
}

.profile {
	width: 3rem;
	background: var(--light);
	box-shadow: inset 2px 2px 4px var(--dark);
	border-radius: 50%;
}

.logo {
	color: #debd69;
	font-size: 2rem;
	font-weight: 900;
	font-style: italic;
}

.button {
	padding: 0.5rem 1.5rem;
	background: var(--light);
	box-shadow: inset 2px 2px 4px var(--dark);
	border-radius: 0.5rem;
	border: none;
	color: var(--text);
	margin-left: auto;

	&:hover {
		background: var(--hover);
	}
	&:active {
		background: var(--active);
	}
}
