.nav {
    background: #264653;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.profileImage {
    background: #287170;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 50px;
    height:  50px;
  }

.logo {
color: #debd69;
font-size: 32px;
font-weight: 900;
font-style: italic;
}

.button {
    border: none;
    border-radius: 8px;
    background: #287170;
    color: #e76f51;
    padding: 8px 24px;
  }
  
.left, .right {
display: flex;
align-items: center;
gap: 16px;
}